/* Use preflight instead of base */
@import "tailwindcss/preflight";

/* Only utilities now */
@tailwind utilities;

/* Optional: Custom font-face, fix filename and path */
@font-face {
    font-family: 'Against';
    font-style: italic;
    src: url('../fonts/against regular.ttf') format('truetype');
}


/* Global resets and styles */
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
}

#root {
    height: 100%;
}
