@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import "tailwindcss/preflight";

@tailwind utilities;

@font-face {
    font-family: 'Against';
    font-style: italic;
    src: url('../fonts/against regular.ttf') format('truetype');
}


html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
}

#root {
    height: 100%;
}
.swiper-button-prev,
.swiper-button-next {
    color: white !important;
    z-index: 10;
}
